@use 'styles/globalVariables';
@use 'styles/mixinHelper';

.container {
  margin: 0 73px;

  &:last-child {
    margin-bottom: 100px;
  }

  .name {
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: globalVariables.$color-5;
    margin-bottom: 39px;
    margin-top: 74px;
  }

  .stations {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px 30px;

    @include mixinHelper.onTablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mixinHelper.mobileResponsive {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
