@use 'styles/globalVariables';
@use 'styles/mixinHelper';

.containerStation {
  position: relative;
  display: grid;
  flex-direction: column;
  cursor: pointer;

  &:hover{
    opacity: 0.80;
  }
}

.stationImageContainer {
  position: relative;

  .stationImage{
    border-radius: 27px;
    z-index: -1;
  }

  .numberOfListeners {
    width: fit-content;
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 10px;
  }

}

.stationSong {
  position: absolute;
  bottom: 20px;
  left: 16px;
  padding-right: 10px;

  .songName, .songArtist{
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    margin-bottom: 5px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .songArtist{
    font-size: 0.95rem;
    font-weight: 700;
  }
}

.stationName {
  @include mixinHelper.center-content;
  font-style: normal;
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  color: globalVariables.$color-3;
  margin-top: 10px;
  margin-left: 16px;
}
