@use 'styles/globalVariables';
@use 'styles/mixinHelper';

.containerStation {
  position: relative;
  display: grid;
  flex-direction: column;
  cursor: pointer;
  height: fit-content;

  &:hover{
    opacity: 0.88;
  }
}

.stationImageContainer {
  position: relative;
  border-radius: 27px;
  background: #ffffff66;

  .stationImage{
    border-radius: 27px;
    z-index: -1;
  }

  .numberOfListeners {
    width: fit-content;
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.isSelected{
  border: 2px rgba(0, 0, 0, 0.71) solid;
  padding: 2px;
}

.stationSong {
  position: absolute;
  bottom: 20px;
  left: 16px;
  padding-right: 10px;

  .songName, .songArtist{
    font-style: normal;
    font-size: 1.3rem;
    font-weight: 700;
    color: black;
    margin-bottom: 5px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .songArtist{
    font-size: 1rem;
    font-weight: 700;
  }
}

.stationName {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  color: globalVariables.$color-3;
  margin-bottom: 10px;
  margin-left: 16px;
}
