@use 'styles/globalVariables';

.containerStation{
  position: relative;
  display: grid;
  flex-direction: column;

  .stationImage{
    width: 100%;
    border-radius: 27px;
  }

  .numberOfListeners{
    width: fit-content;
    position: absolute;
    bottom: 78px;
    right: 10px;
  }

  .stationName{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: globalVariables.$color-3;
    margin-top: 10px;
    margin-left: 16px;
  }

  .stationSong{
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: globalVariables.$color-4;
    margin-left: 16px;
  }
}
