@use 'styles/mixinHelper';

.containerBackground {
  margin-top: 2%;
  height: 700px;
  position: relative;
  background: url('../../public/images/header-bg.jpg');
  background-repeat: no-repeat;
  box-shadow: inset 118px 170px 250px rgb(0 0 0 / 39%);
  background-position-y: -200px;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;

  @include mixinHelper.mobileResponsive{
    margin-top: 0;
  }
}

.titleLogo {
  display: flex;
  align-items: center;
  margin-left: 65px;
  margin-top: 50px;

  img {
    height: 33px;
    padding-right: 10px;
  }
}

.contentBottom {
  display: flex;
  bottom: 0;
  width: 100%;

  @include mixinHelper.tabletResponsive{
    @include mixinHelper.center-content;
    flex-direction: column;
  }

  .welcome {
    width: inherit;
    font-style: normal;
    font-weight: bold;
    margin-left: 65px;

    @include mixinHelper.tabletResponsive{
      margin-left: 0;
      text-align: center;
    }

    .goodMorning{
      font-size: 42px;
    }

    .verseOfDay {
      position: relative;
      margin-top: 30px;
      max-width: 300px;
      margin-left: 13px;
      line-height: 20px;

      @include mixinHelper.tabletResponsive{
        margin: 35px auto;
      }

      &:before {
        border-left: 3px solid white;
        display: block;
        position: absolute;
        left: -10px;
        height: 100%;
        content: "";
      }
    }
  }

  .radioPlayer {
    width: 50%;

    @include mixinHelper.tabletResponsive{
      width: unset;
    }
  }
}
