COMPOSE_PROJECT_NAME=radio_crestin

SECRET_KEY=your_secret_key
DEBUG=true
ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=
DATABASE_URL=postgres://postgres:postgrespassword@postgres:5432/postgres
REDIS_BROKER_URL=redis://:redispassword@redis:6379
ADMIN_HASURA_GRAPHQL_URL=http://graphql-engine:8080/v1/graphql

SETUP_SCHEDULED_TASKS=true

POSTGRES_PASSWORD=postgrespassword
REDIS_PASSWORD=redispassword

AWS_ACCESS_KEY_ID=XXXX
AWS_SECRET_ACCESS_KEY=XXXX
AWS_STORAGE_BUCKET_NAME=radio-crestin
AWS_S3_CUSTOM_DOMAIN=radio-crestin.s3.amazonaws.com

# Hasura
## enable the console served by server
HASURA_GRAPHQL_ENABLE_CONSOLE=true

## enable debugging mode. It is recommended to disable this in production
HASURA_GRAPHQL_DEV_MODE=true
HASURA_GRAPHQL_DATABASE_URL=postgres://postgres:postgrespassword@postgres:5432/postgres
HASURA_GRAPHQL_METADATA_DATABASE_URL=postgres://postgres:postgrespassword@postgres:5432/postgres
HASURA_GRAPHQL_ENABLED_LOG_TYPES=startup,http-log,webhook-log,websocket-log,query-log
HASURA_GRAPHQL_AUTH_HOOK=http://auth:8080/api/v1/webhook/authentication
HASURA_GRAPHQL_AUTH_HOOK_MODE=GET
HASURA_GRAPHQL_ADMIN_SECRET=myadminsecretkey
HASURA_APP_REFRESH_STATIONS_METADATA_WEBHOOK_URL=http://app:8080/refreshStationsMetadata
HASURA_GRAPHQL_PG_CONNECTIONS=20

# PostHog Configuration
POSTHOG_API_KEY=XXXXX
POSTHOG_HOST=https://eu.i.posthog.com
POSTHOG_PROJECT_ID=78690
