version: '3.6'
services:
  admin_staging:
    build:
      context: backend/admin
    restart: always
    env_file:
      - .env
    ports:
      - "28080:8080"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/admin" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    networks:
      - app_network
    logging:
      driver: "json-file"
      options:
        max-file: "5"   # number of files or file count
        max-size: "100m" # file size
  frontend_staging:
    build:
      context: frontend
      args:
        - FRONTEND_CDN_PREFIX=${FRONTEND_CDN_PREFIX}
    ports:
      - "18080:8080"
    restart: always
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    environment:
      - FRONTEND_GRAPHQL_ENDPOINT_URI=${FRONTEND_GRAPHQL_ENDPOINT_URI}
      - FRONTEND_GRAPHQL_INTERNAL_ENDPOINT_URI=${FRONTEND_GRAPHQL_INTERNAL_ENDPOINT_URI}
      - FRONTEND_GRAPHQL_INTERNAL_ENDPOINT_ADMIN_SECRET=${FRONTEND_GRAPHQL_INTERNAL_ENDPOINT_ADMIN_SECRET}
      - FRONTEND_CDN_PREFIX=${FRONTEND_CDN_PREFIX}
    networks:
      - app_network
    logging:
      driver: "json-file"
      options:
        max-file: "5"   # number of files or file count
        max-size: "100m" # file size

networks:
  app_network:
    name: app_network_webgateway
    external: true
