@use 'styles/mixinHelper';

.links {
  display: flex;
  flex-direction: row;
  gap: 0 30px;
  font-weight: 500;
  font-size: 18px;
  color: #646464;
  margin-top: 150px;
  margin-bottom: 82px;
  flex-wrap: wrap;

  @include mixinHelper.onMobile{
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 0 30px;
    gap: 10px 20px;
  }
}
