@use 'styles/mixinHelper';

.links {
  display: flex;
  flex-direction: row;
  gap: 0 30px;
  font-weight: 500;
  font-size: 18px;
  color: #646464;
  padding-top: 150px;
  padding-bottom: 82px;
  flex-wrap: wrap;

  @include mixinHelper.onMobile{
    padding: 50px 30px 30px;
    gap: 10px 20px;
  }
}
