{% extends "account/login.html" %}
{% load i18n %}
{% load allauth_ui %}
{% load widget_tweaks %}
{% block content %}
    {% trans "Sign in with email code" as heading %}
    {% #container heading=heading  %}
        <div class="py-3">
            {% blocktranslate %}You will receive an email containing a special code for a password-free sign-in.{% endblocktranslate %}
        </div>

    {% url 'account_request_login_code' as action_url %}
     {% #form form=form url=action_url button_text=heading %}
        <div class="flex items-center justify-between mb-4" style="margin-top: -1rem">
            {{ redirect_field }}
            {% csrf_token %}
            {{ redirect_field }}
        </div>
        {% /form %}

    {% /container %}
{% endblock content %}