@use "../StationPlayer/plyr.module.scss";
@use 'styles/mixinHelper';

.container {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;


  @include mixinHelper.onTablet {
    width: 100%;
    margin: 0;
  }
}
