.plyr {
  width: 400px !important;
  border-radius: 4px !important;

  .plyr__controls {
    background: #f0f0f0 !important;
    color: white !important;
    border-radius: inherit !important;
    padding: 0 !important;

    .plyr__controls__item.plyr__time {
      color: black !important;
      font-weight: 500;
      margin-right: auto;
    }
  }

  .plyr__volume {
    max-width: 155px !important;
    width: 40% !important;
    min-width: 116px !important;

    input[type=range] {
      color: black !important;
    }
  }

  .plyr__volume .plyr__control {
    .icon--not-pressed, .icon--pressed {
      color: black;
    }
  }

  .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true] {
    background: none !important;
  }

  .plyr__controls {
    .plyr__controls__item:first-child {
      border-radius: 38px !important;
      background: black !important;
      color: white !important;
      padding: 7px 6px 7px 9px !important;
      width: 33px;
      height: 33px;
      transition-duration: 0s;
      margin-right: 0;
    }

    .plyr__controls__item:first-child[aria-label="Pause"] {
      padding: 7px 6px 7px 7px !important;

      svg {
        width: 19px !important;
      }
    }
  }
}
