@use 'styles/mixinHelper';

.header {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding: 36px;
  max-width: 90%;
  width: 1506px;
  height: 638px;
  background: #FFD9AF;
  border-radius: 25px;
  box-shadow: 1px 2px 18px 0 #0000001A;

  .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .currentStation {
    height: 100%;
    display: flex;
  }
}
