@use 'styles/mixinHelper';

.header {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding: 36px;
  background: #FFD9AF;
  border-radius: 25px;
  box-shadow: 1px 2px 18px 0 #0000001A;
  position: relative;

  @include mixinHelper.onTablet{
    height: unset;
    margin: 0;
    border-radius: 0;
  }

  @include mixinHelper.onMobile{
    box-shadow: none;
  }

  .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .currentStation {
    display: flex;
    height: 100%;
    z-index: 0;
    gap: 50px;
    padding: 0 50px;
    margin-bottom: 40px;

    @include mixinHelper.onTablet{
      flex-direction: column-reverse;
      padding: 0;
      gap: 0;
    }
  }
}

.matrix{
  width: 550px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-bottom-left-radius: 25px;

  @include mixinHelper.onTablet{
    width: 700px;
  }

  @include mixinHelper.onMobile{
    width: 340px;
  }
}


