@use 'styles/mixinHelper';

.header {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding: 36px;
  height: 520px;
  background: #FFD9AF;
  border-radius: 25px;
  box-shadow: 1px 2px 18px 0 #0000001A;
  position: relative;

  @include mixinHelper.onTablet{
    height: unset;
    margin: 0;
    border-radius: 0;
  }

  .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .currentStation {
    display: flex;
    gap: 0 50px;
    height: 100%;
    z-index: 0;
    margin-top: 50px;

    @include mixinHelper.onTablet{
      flex-direction: column-reverse;
    }
  }
}

.matrix{
  width: 550px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-bottom-left-radius: 25px;
}


