@use 'styles/mixinHelper';

.container{
  @include mixinHelper.center-content;
  margin-top: 62px;
  margin-bottom: 57px;

  @include mixinHelper.onTablet{
    overflow-x: scroll;
    justify-content: start;
    padding-left: 30px;
    padding-bottom: 20px;
  }

  .item_category{
    padding: 5px 40px;
    margin: 0 15px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-size: 22px;
    line-height: 33px;
    cursor: pointer;

    @include mixinHelper.onDesktop{
      padding: 5px 20px;
    }

    @include mixinHelper.onTablet{
      padding: 5px 10px;
    }

    &:first-child{
      background: #F9AC59;;
    }
  }
}
