-----BEGIN CERTIFICATE-----
MIIDajCCAlKgAwIBAgIEXL8hPDANBgkqhkiG9w0BAQsFADBOMQswCQYDVQQGEwJU
RTESMBAGA1UEAwwJbG9jYWxob3N0MQ0wCwYDVQQIDAR0ZXN0MQ0wCwYDVQQHDAR0
ZXN0MQ0wCwYDVQQKDAR0ZXN0MB4XDTIzMTAwNzA4MDI0OVoXDTI1MTAwNjA4MDI0
OVowTjELMAkGA1UEBhMCVEUxEjAQBgNVBAMMCWxvY2FsaG9zdDENMAsGA1UECAwE
dGVzdDENMAsGA1UEBwwEdGVzdDENMAsGA1UECgwEdGVzdDCCASIwDQYJKoZIhvcN
AQEBBQADggEPADCCAQoCggEBANRHnA9l+azn16GwUlXYoGgA0e5vNy/095VWzBkw
md3Gc1Sl/OCuRi8YwCZBWl5dU8ov4sGTm4G6d4EPIarGOSeTKXYZSvdwfekZ6Zko
OiBLs33nQPr8b1i6zNCALMqO0EPpWs1ZAH9gV541BNrRhWYS9KgmTSYOKSoIpBI4
qwKhrOoCucuUDlDWNibQ/RkTnA4UZ6ltQtqSOn1rxFmRNknLdQuE5rL06WkauhOB
MivHJSdAy4DzTT+n3qt1xeuNR1vAz3/eUCXAl6VXeJozZtoMEUiXQE2MaXKbaNSt
MwMberq2/a4hEodm2NSHgtfaVB65gtVZUzfPvxsj8XBXwY0CAwEAAaNQME4wHQYD
VR0OBBYEFNVL8174guk+nBcRF3u6uI5wxIu9MB8GA1UdIwQYMBaAFNVL8174guk+
nBcRF3u6uI5wxIu9MAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQELBQADggEBAEbZ
7nrZnzPigs4bvfCs6oDDOszg918K0sgbdoulIWm/NiULfmGlNdfAQmGv6iRQHbzZ
SIZbLRSzy/E6NaR/oX7un9mkltYNB/3VQqBRRe9HQeACyTy124Rl79Gv4etjV1D2
hSP5xAshHDCuzj0HhMM6GuA1vtD5YPPxRABCtH37WyVLmFIw2HqNSzTtRQUuVW/Q
uL/OhjD1NS+lne1K3l4Z2dzHOSYRHZpAi+84Z7+U1fp9qGq3Kvb7Gr5Dby7Q8pFH
t/kxQlKxxyz3fe7niOOa6K79kjStOzXvZq/4eiraKvfiNHeyUghSmc8cUt49O5qS
IFjzliAHC/iQBzYCsHA=
-----END CERTIFICATE-----
