.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  overflow: hidden;
}

.main {
  padding: 7rem 0 10rem;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 600px) {
    & {
      padding: 4rem 0.7rem 10rem
    }
  }
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;

  @media (max-width: 600px) {
    & {
      font-size: 2.7rem;
    }
  }
  .highlighted_title {
    background-color: #0070f3;
    background-image: linear-gradient(
                    45deg
            , #054cb3, #4a9dff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}

.grid {
  display: flex;
  width: 100%;
  align-content: baseline;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;

  @media (max-width: 600px) {
    & {
      width: 100%;
      flex-direction: column;
      margin-top: 1rem;
    }
  }

  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    flex-basis: 45%;
    max-width: 45%;

    @media (max-width: 600px) {
      & {
        width: 100%;
        max-width: 100%;
        flex-basis: 100%;
        margin: 0.5rem 0;
      }
    }

    &:hover,
    &:focus,
    &:active, &[data-selected="true"] {
      color: #0070f3;
      border-color: #0070f3;
      cursor: pointer;
    }

    h2 {
      margin: 0 0 1rem 0;
      font-size: 1.5rem;
    }
    p {
      margin: 0;
      font-size: 1.25rem;
      line-height: 1.5;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.section_subtitle {
  margin: 0.8rem 0;
  text-align: left;
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;

  @media (max-width: 600px) {
    & {
      margin: 0.8rem 0 1rem 0;
    }
  }
}


.search_card {
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
  border-radius: 10px;

  @media (max-width: 600px) {
    & {
      margin: 0.7rem 0 0.7rem 0;
    }
  }

  &:hover,
  &:focus,
  &:active {
    color: #0070f3;
    border-color: #0070f3;
  }
}


.radio_station_link {
  margin: 0.75rem 1rem;
  padding: 0rem 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;

  @media (max-width: 600px) {
    & {
      width: 100%;
      max-width: 100%;
      flex-basis: 100%;
      margin: 0.5rem 0;
    }
  }

  &:hover,
  &:focus,
  &:active, &[data-selected="true"] {
    color: #0070f3;
    border-color: #0070f3;
    cursor: pointer;
  }

  small{
    font-weight: 300;
    font-size: 1.1rem;
    color: #ababab;
    float: right;
    line-height: 2rem;
    max-width: 100%;
    width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;

    @media (max-width: 600px) {
      & {
        float: left;
        text-align: left;
      }
    }
  }

  h2 {
    margin: 1rem 0;
  }
}

.recommended_stations {
  @extend .grid;
  small {
    font-size: 0.75rem;
    color: #bbbbbb;
  }

  @media (max-width: 600px) {
    & {
      margin-top: -1rem;
    }
  }
}

.radio_player_wrapper {
  display: flex;
  align-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  justify-content: center;

  .radio_player {
    display: flex;
    max-width: 100%;
    width: 100%;
    padding-right: 30px;
    padding-bottom: 28px;
    justify-content: flex-end;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
  }
}

.contactButton {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 32px;
  right: 33px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  .contactLinkButton {
    height: 30px;
    width: 30px;
    display: flex;
    margin-left: 2px;
    margin-top: 2px;
  }
}

