@use 'styles/globalVariables';
@use 'styles/mixinHelper';

.containerPlayer {
  display: flex;
  background: globalVariables.$color-2;
  color: black;
  border-radius: 15px;
  padding: 18px;
  margin-right: 36px;
  margin-bottom: 36px;
  gap: 20px;
  width: fit-content;
  margin-left: auto;

  @include mixinHelper.tabletResponsive{
    margin-right: 0;
  }

  .descriptionSong {
    width: 220px;
    padding-left: 11px;

    @include mixinHelper.mobileResponsive{
      width: 189px;
    }

    .castTVImg {
      cursor: pointer;
      float: right;
      margin-top: 5px;
      width: 18px;
    }

    .radioName{
      margin-top: 30px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: globalVariables.$color-1;

      @include mixinHelper.mobileResponsive{
        margin-top: 0;
      }
    }

    .songName{
      margin: 5px 0;
      font-size: 1.3em;
      font-weight: 800;
    }

    .artist{
      font-weight: 500;
    }

    .containerPlyr{
      margin-top: 25px;
    }
  }

  .imageSong {
    width: 150px;
    height: 150px;

    @include mixinHelper.mobileResponsive{
      @include mixinHelper.center-content;
      margin: auto;
      width: 100px;
      height: 100px;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 13px;
    }
  }
}
