{
  "env": {
    "browser": false,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts"
      ],
      "@typescript-eslint": [
        ".ts"
      ]
    }
  },
  "rules": {
    "@typescript-eslint/no-this-alias": "off",
    "@typescript-eslint/no-var-requires": "warn",
    "no-console": "warn",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 0,
        "maxBOF": 0
      }
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "const"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "class"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "block"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "multiline-const"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "multiline-block-like"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "multiline-expression"
      }
    ],
    "comma-dangle": [
      "warn",
      "always-multiline"
    ],
    "quotes": [
      "warn",
      "double"
    ],
    "semi": [
      "error",
      "always"
    ],
    "max-depth": [
      "error",
      4
    ],
    "max-len": [
      "error",
      {
        "code": 160
      }
    ],
    "max-lines-per-function": [
      "error",
      190
    ],
    "max-params": [
      "error",
      4
    ],
    "no-trailing-spaces": [
      "error",
      {
        "ignoreComments": true
      }
    ],
    "arrow-spacing": "error",
    "rest-spread-spacing": [
      "error",
      "never"
    ],
    "indent": [
      "error",
      4
    ]
  }
}
