@use 'styles/mixinHelper';

.plyr {
  width: unset !important;
  border-radius: 4px !important;

  .plyr__controls {
    background: transparent !important;
    color: white !important;
    border-radius: inherit !important;
    padding: 0 !important;

    .plyr__controls__item {
      .icon--not-pressed {
        padding-left: 3px;
      }

      &:first-child {
        @include mixinHelper.center-content;
        border-radius: 38px !important;
        background: black !important;
        color: #FFB05A !important;
        width: 68px;
        height: 68px;
        transition-duration: 0s;
        margin-right: 0;
      }

      &:first-child[aria-label="Pause"] {
        padding: 22px !important;

        svg {
          width: 19px !important;
        }
      }
    }

    .plyr__time {
      display: none;
    }

    svg {
      width: 25px;
      height: 25px;
    }
  }

  .plyr__volume {
    width: 60%;
    max-width: unset !important;
    margin-right: auto;

    input[type=range] {
      cursor: pointer;
      color: black !important;

      &::-moz-range-thumb {
        background: black;
        cursor: pointer;
      }

      &::-webkit-slider-thumb {
        background: black;
        cursor: pointer;
      }
    }

    svg{
      width: 40px;
      height: 40px;
      margin: 0 15px;
    }
  }

  .plyr__volume .plyr__control {
    .icon--not-pressed, .icon--pressed {
      color: black;
    }
  }

  .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true] {
    background: none !important;
  }
}
