@use 'styles/mixinHelper';

.plyr {
  width: unset !important;
  border-radius: 4px !important;

  .plyr__controls {
    background: transparent !important;
    color: white !important;
    border-radius: inherit !important;
    padding: 0 !important;

    .plyr__controls__item.plyr__time {
      display: none;
    }
  }

  .plyr__volume {
    width: 100%;
    max-width: unset !important;

    input[type=range] {
      cursor: pointer;
      color: black !important;

      &::-moz-range-thumb {
        background: black;
        cursor: pointer;
      }

      &::-webkit-slider-thumb {
        background: black;
        cursor: pointer;
      }
    }
  }

  .plyr__volume .plyr__control {
    .icon--not-pressed, .icon--pressed {
      color: black;
    }
  }

  .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true] {
    background: none !important;
  }

  .plyr__controls {
    .plyr__controls__item:first-child {
      border-radius: 38px !important;
      background: black !important;
      color: #FFB05A !important;
      padding: 22px !important;
      width: 68px;
      height: 68px;
      transition-duration: 0s;
      margin-right: 0;
    }

    .plyr__controls__item:first-child[aria-label="Pause"] {
      padding: 22px !important;

      svg {
        width: 19px !important;
      }
    }

    svg{
      width: 25px;
      height: 25px;
    }
  }
}
