@use 'styles/globalVariables';
@use 'styles/mixinHelper';

@mixin truncateText() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 425px;
}

.containerPlayer {
  display: flex;
  color: black;
  border-radius: 15px;
  margin-left: 50px;
  margin-right: auto;
  min-width: 450px;
  gap: 20px;

  @include mixinHelper.onSmallDesktop{
    margin-left: 10px;
    min-width: 400px;
  }

  @include mixinHelper.onTablet {
    margin: 0;
    padding: 18px 0;
    width: unset;
  }

  .descriptionSong {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    height: 100%;
    justify-content: space-between;

    @include mixinHelper.onTablet {
      flex-direction: row;
    }

    .songImage {
      position: relative;
      width: 200px;
      height: 200px;
      border-radius: 30px;
      filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.25));
    }

    .songName {
      @include truncateText;
      line-height: 47px;
      margin: 15px 0 5px;
      font-size: 2.3em;
      font-weight: 800;
    }

    .artist {
      @include truncateText;
      line-height: 30px;
      font-size: 1.5em;
      font-weight: 300;
      margin-top: 10px;
    }

    .containerPlyr {
      margin-top: 45px;
    }
  }
}
