ADMIN_DEBUG=true
ADMIN_SECRET_KEY=dg54shsdhbsdsd
ADMIN_ALLOWED_HOSTS=localhost
ADMIN_CORS_ORIGIN_WHITELIST=http://localhost:8289
ADMIN_DATABASE_URL=postgres://postgres:postgrespassword@127.0.0.1:8543/postgres

ADMIN_AWS_ACCESS_KEY_ID=XXXXXXX
ADMIN_AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXX
ADMIN_AWS_STORAGE_BUCKET_NAME=radio-crestin
ADMIN_AWS_S3_CUSTOM_DOMAIN=cdn.radio-crestin.com
