@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin onDesktop {
  @media screen and (max-width: 1600px) {
    @content;
  }
}

@mixin onSmallDesktop {
  @media screen and (max-width: 1250px) {
    @content;
  }
}

@mixin onTablet {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin onMobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}
